extends ../layouts/main-layout.pug

block content

    .login-register
    
        div 
            h2 Login
            hr
        
        if errorMessage
            div.alert.alert-danger.col-sm-7 #{errorMessage}


        form(action="/login" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            .form-group
                label(for="email") Email address
                input.form-control(type="email" name="email" placeholder="Enter email")
                small.form-text.text-muted(id="emailHelp") We'll never share your email with anyone else
            
            .form-group
                label(for="password") Password
                input.form-control(type="password" name="password" placeholder="Password")

            hr
            button.btn.btn-primary(type="submit") Login
            a.btn.btn-social.btn-google.ml-2(href="/auth/google" role="button")
                i.fab.fa-google Sign In with Google
            
            br
            br
            .form-group
                a(href="/reset-password").btn.btn-link.p-0 Reset Password
