extends ../layouts/main-layout.pug

block content 
    
    .login-register

        div
            h2 Register
            hr

        if errorMessage
            div.alert.alert-danger.col-sm-7 #{errorMessage}

        form(action="/register" method="POST")
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            .form-group 
                label(for="username") Username 
                input.form-control(type="text" name="username" placeholder="Username")

            .form-group
                label(for="email") Email Address
                input.form-control(type="email" name="email" placeholder="Email")
                small.form-text.text-muted(id="emailHelp") We'll never share your email with anyone else
            
            .form-group
                label(for="password") Password
                input.form-control(type="password" name="password" placeholder="Password")
            hr
            button.btn.btn-primary(type="submit") Register
            a.btn.btn-social.btn-google(href="/auth/google" role="button")
                i.fab.fa-google
                    p.pl-2 Sign In with Google