body{
    background-color: #F8F0DF;
}

#footer{
    background-color: #F8F0DF;
    padding: 1% ;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;

}

.login-register {
    margin: 6rem auto;
}

.pt-100 {
    padding-top: 100px;
}

.product{
    background-color: #F7F6F2;

}

.product-img{
    transition: transform .5s ease;
}

.product-img:hover{
    transform: scale(1.2);  
}


