body{
    background-color: #F8F0DF;
}

footer{
    background-color: #F8F0DF;
    padding: 2%;
    text-align: center;
    background-color: #fff;
    margin-top: 16rem;
}

.pt-100 {
    padding-top: 100px;
}

.product{
    background-color: #F7F6F2;

}

.product-img{
    transition: transform .5s ease;
}

.product-img:hover{
    transform: scale(1.2);  
}

.register-form{
    padding: 5rem
}

